
.main_text_color-1{
    color: #5a009d;
}

.main_text_color-2{
    color: #c0c0c0;;
}

.main_text_color-3{
    color: #f0f0f0;
}

.main_bkg_color-1{

    background-color: #5a009d;
}

.main_bkg_color-2{

    background-color:  #c0c0c0;
}

.main_bkg_color-2{

    background-color:  #f0f0f0;
}




